<a href="https://colab.research.google.com/github/osvaldo-o/edd_1310_2021/blob/master/1octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Intro Python
## variables
# tipo dinamico

In [5]:
escuela = "Fes Aragon"
print(escuela)
print("-----------")
edad = 13
estatura = 1.72
fumador = False
frases = """ 
esta es una
frase
"""
print(frases)
nombre = 'Jose'
nombre_apellido = "Jose sosa"

Fes Aragon
-----------

esta es una
frase

# Print 
# con comas,
# con signo +
# con format()

In [11]:
print(nombre, edad)
# con + concatena
print(nombre + str(edad))
print(nombre+nombre_apellido)
# con formato ->
print("Su nombre es",nombre,"y su edad es de",edad,"años")
print("Su nombre es {0} y su edad es de {1} años".format(nombre, edad))
print("Su nombre es {1} y su edad es de {0} años".format(nombre, edad))
# con formato con el operador f"
print(f"Su nombre es {nombre} y su edad es de {edad} años")

Jose 13
Jose13
JoseJose sosa
Su nombre es Jose y su edad es de 13 años
Su nombre es Jose y su edad es de 13 años
Su nombre es 13 y su edad es de Jose años
Su nombre es Jose y su edad es de 13 años

# Caracter de escape
/n salto de linea
/t tabulador
/a beep
/" imprimir comilla doble
/' imprimir comilla simple

In [12]:
print(f"\tMi nombre es\n\t\t {nombre}")

	Mi nombre es
		 Jose

# Ayuda de tipos de datos en python
dir() help()

In [ ]:
# str, int,  float, bool, list, dict, set
help(str)

In [17]:
print(nombre_apellido.capitalize())
print(nombre_apellido.upper(), end="---")
print(nombre_apellido.title())

Jose sosa
JOSE SOSA---Jose Sosa

In [ ]:
help(print)

# Clase String
Es manejada como un arreglo o lista

In [18]:
telefono = "Huawei mate 30 pro"
print(telefono[5])

i

#Slicing 
[int:stop:incremento]

In [22]:
print(telefono[7:11:1])
# el inicio y el incremento son opcionales
print(telefono[:11:])
# el valor por defecto de stop es len
print(telefono[::])
# incremento negativo
print(telefono[::-1])
#
print(telefono[-3::1])

mate
Huawei mate
Huawei mate 30 pro
orp 03 etam iewauH
pro

# metodos de String (str)

In [33]:
facultad = "   facultad de estudios superiores aragon   "
print(facultad.count("u")) #cuenta el numero de elementos en la cadena
print(facultad.find("s"))
print(facultad.strip())
print(len(facultad))
print(facultad.split("t"))
print("------------")
print(facultad.strip().split(" "))

3
16
facultad de estudios superiores aragon
44
['   facul', 'ad de es', 'udios superiores aragon   ']
------------
['facultad', 'de', 'estudios', 'superiores', 'aragon']

In [35]:
# copiar listas
colores = ["rojo", "verde"]
otra = colores.copy()
print(colores)
print(otra)
otra.append("rosa")
print(colores)
print(otra)

['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde', 'rosa']