<a href="https://colab.research.google.com/github/osvaldo-o/edd_1310_2021/blob/master/6octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# String 
txt_numeros = "   1,  2, 3, 4   ,5,  35,  15"
print(txt_numeros)
txt_numeros = txt_numeros.lstrip().split(',')
print(txt_numeros)

for i in range(len(txt_numeros)):
  txt_numeros[i] = int(txt_numeros[i].strip())

print(txt_numeros)

# funcion range
print(range(1,10,3))
for x in range(0,11,2):
  print(x, end="-")

   1,  2, 3, 4   ,5,  35,  15
['1', '  2', ' 3', ' 4   ', '5', '  35', '  15']
[1, 2, 3, 4, 5, 35, 15]
range(1, 10, 3)
0-2-4-6-8-10-

# listas
- mutables 
- declaran con []
- selector [int]

# tuplas
- No mutables
- declaran con ()
- selectos [int]

# diccionarios
- son mutables
- son conjunto de pares llave: valor
- equivalentes a los JSON

#C Conjuntos
- representación de la teoria de conjuntos

In [15]:
# Listas 
frutas = ["Pera", "Manzana", "Fresa", "Kiwi", "Naranja"]
print(frutas)
cosas = ["cuaderno", 2, 3.1416, True, False, ["Rojo", "Azul"]]
print(cosas)
# agregar listas
frutas.append("Aguacate")
print(frutas)
frutas.insert(2,"Sandia")
print(frutas)

fecha = ["06", "10", "2020"]
print(fecha)
fecha_str = "/".join(fecha)
print(fecha_str)

['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja']
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['Pera', 'Manzana', 'Sandia', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['06', '10', '2020']
06/10/2020

In [23]:
# eliminar cosas
cosas = ["cuaderno", 2, 3.1416, True, False, ["Rojo", "Azul"]]
print(cosas)
cosas.append("Libro")
cosas.append("Lapiz")
print(cosas)
algo = cosas.pop()
print(cosas)
print(algo)

algo = cosas.pop(2)
print(cosas)
print(algo)
cosas.remove(True)
print(cosas)

# vaciar una lista
#cosas.clear()
#print(cosas)

# ordenar
print(frutas)
frutas.sort()
print(frutas)

['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro', 'Lapiz']
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro']
Lapiz
['cuaderno', 2, True, False, ['Rojo', 'Azul'], 'Libro']
3.1416
['cuaderno', 2, False, ['Rojo', 'Azul'], 'Libro']
['Pera', 'Manzana', 'Sandia', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['Aguacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandia']

In [30]:
cosas = ["cuaderno", 2, 3.1416, True, False, ["Rojo", "Azul"]]
print(cosas[3:5:1])
print(cosas[0][3:5])

numeros = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(numeros[8:13])
# sustituir
numeros[8:13] = [-2,-2]
print(numeros)
# preguntar por exitencia
print(-2 in numeros)

[True, False]
de
[8, 9, 10, 11, 12]
[0, 1, 2, 3, 4, 5, 6, 7, -2, -2, 13, 14, 15]
True

# lista multi dimensión
- listas dentro de listas

In [47]:
computadoras = ["HP", "Mac Book Pro 17", "Mate Book", "Lenovo Legion"]
oss = ["Windows 10", "Linux", "Android", "IOS"]

computo = [computadoras, oss]
print(computo[0])
print(computo[1])
print(computo[0][2][0:5])
print(computo[0][3][5::-1])
print(computo[0][3][-8::-1]) #cuando contamos desde atrás, ya no contamos con 0
dbms = [ ["Mysql", "Open Source", False], ["Ms SQL Server", "de paga", True]]
computo.append(dbms)
print(computo)
print(computo[2][0][0])
print(computo[2][1][1])

['HP', 'Mac Book Pro 17', 'Mate Book', 'Lenovo Legion']
['Windows 10', 'Linux', 'Android', 'IOS']
Mate
ovoneL
ovoneL
[['HP', 'Mac Book Pro 17', 'Mate Book', 'Lenovo Legion'], ['Windows 10', 'Linux', 'Android', 'IOS'], [['Mysql', 'Open Source', False], ['Ms SQL Server', 'de paga', True]]]
Mysql
de paga